<div class="button-wrapper" ng-if="resource.state.LEVEL>=0">
    <div class="button-content" style="position: relative">
        <div class="button-label wrap-text dsg-text" hm-tap="TOGGLE()">
            <span ng-bind="resource.name"></span>
        </div>
        <div ng-if="!!(resource.state.COLOR)" style="position:absolute; top:50%; left:9px;  margin-top: -16px; height: 32px;width:32px">
            <div ik-color="resource.state.COLOR" ik-color-keep-bright="true" ik-color-width="100%" ik-color-height="100%" ik-color-picker-change="UPDATECOLOR(color)" style="width:100%;height:100%"></div>
        </div>
        <div class="icon-wrapper side-state" style="pointer-events: none" ng-style="{'visibility':resource.state.LEVEL>=0?'visible':'hidden'}">
            <div class="bottom">
                <i class="resource-icon light off"></i>
            </div>
            <div class="top" ng-style="{'opacity':resource.state.LEVEL/100}">
                <i class="resource-icon light on"></i>
            </div>
        </div>
    </div>
</div>
<div class="commands" ng-if="(resource.state.LEVEL>=0)">
    <div class="grid command-row raiselower command-dimmer">
        <div class="col-1-2">
            <div class="button-dark raise" ng-class="hasSET?'':'disabled'" hm-tap="CHANGE(+10)">
                <div class="icon-wrapper">
                    <div class="has-glyphicon">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-2">
            <div class="button-dark lower" ng-class="hasSET?'':'disabled'" hm-tap="CHANGE(-10)">
                <div class="icon-wrapper">
                    <div class="has-glyphicon">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="resource.state.LEVEL>=0" class="meter-wrapper">
        <div class="meter"></div>
    </div>
</div>
<div ng-if="!(resource.state.LEVEL>=0)" ng-include="'views/widgets/4levelsWeb.html'"></div>